/**
* @name Gawr Gura 4k
* @author Zaid Ascends#0069
* @version 1.0
* @description Simple Gawr Gura Theme
* @invite jEzD8JJCUV
* @source https://raw.githubusercontent.com/73LeKing/GawrGuraBD/
*/
@import url(https://raw.githubusercontent.com/73LeKing/GawrGuraBD/main/scsl.css);

:root {

    --background-image: url(https://images6.alphacoders.com/113/1132747.png);


    --friends-icon: url(https://static.zerochan.net/Gawr.Gura.full.3072603.jpg);


    --friends-icon-position: center center;


    --friends-icon-zoom: 100%;


    --main-color: rgb(67, 181, 129);


    --main-transparency: rgba(0, 0, 0, 0.8);


    --unread-server-animation: rainbow;


    --hover-list-bg-color: rgba(255, 255, 255, .15);


    --border-lines-color: hsla(0,0%,100%,.1);


    --scroll-bar-color: rgba(255,255,255, .15);

 
    --font-size: 16px;


    --selected-text-voice-color: #f6f6f7;


    --channel-hover-text-color: rgba(255, 255, 255, 0.75);



    --unread-text-color: #dcddde;


    --user-popup-background: rgba(0, 0, 0, 0.8);
}

/* ADD ANY CUSTOM CODE BELOW */
